@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
:root{
    --violeta:#E4BCD4;
    --rosado:#F4D9EC;
    --rosaoscuro:#ECDFDB;
    --celeste:#C6E1F1;
    --azul:#B5C5D7;
}
body{background-color: var(--celeste);margin: 0%;padding: 0%; overflow-x: hidden;}
ul{list-style: none;}
a{text-decoration: none;color: black;}

.navbar{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;     
}


.allAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.allAbout img{
    width: 50%;
    margin: auto;
    border-radius: 50%;
}
.aboutme{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 10px;

}
.title{
    font-family: 'Lobster', cursive;
    font-weight: 200;
    font-size: 3em;
    transition: .4s;
    width: 35%;
    text-align: center;
}
.title:hover{
    color: white;
}

.dev{
    font-family: 'Pacifico', cursive;
    color: var(--brown);
    font-size: 1.8em;
    transition: .4s;
    width: 35%;
    margin-top: -30px;
    text-align: center;
}

.dev:hover{
    color: grey;
}

.subtitle{
    width: 85%;
    font-size: 18px;
    text-align: center;
}

.item{
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.item:hover{
    text-decoration: underline solid var(--violeta);
}

.item-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.nombre{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: var(--gainsboro);
    margin-left: -8rem;
    margin-right: 28rem;
    font-weight: 400;
}

.skills{
    font-size: 1.2rem;
    font-family: 'Pacifico', cursive;
    text-transform: capitalize;
}

.skills-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.imgWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.imgWrapper img{
    width: 12rem;
}
.imgWrapper .js{
    width: 13.7rem;
}
.imgWrapper img:hover{
    transform: scale(1.1);
}

.micara:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projectsTitle{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}

.projectsItems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s;
}

.projectsItems img{
    width: 30%;
    border-radius: 10px;
}

.comingsoon{
    height: 171.9px;
}

.projectsItems img:hover{
    transform: scale(1.1);
    opacity: .8;
}

.contactTitle{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-align: center;
}

/*Make a good form */
.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 2px solid var(--violeta);
    border-radius: 10px;
    margin-bottom: 10px;
}

.form label{
    display: block;
    font-size: 1.2rem;
    text-align: left;
}

.bttForm{
    color: black;
    width: 50%;
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid var(--violeta);
    transition: 1s;
}

.bttForm:hover{
    background-color: lightskyblue;
}

.inputForm{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--skyblue);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}



.footer-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--azul);
}

.social-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .navbar {
        display: none;
    }


    .allAbout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutme {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .left{
        margin-top: 40px;
    }

    .title{
        text-align: center;
        font-size: 2rem;
        color: var(--laurel-green);
        width: 100%;
    }

    .dev{
        width: 100%;
        margin-top: 5px;
    }

    .subtitle{
        width: 80%;
        font-size: 14px;
    
    }

    .skills{
        font-size: 1.2rem;
        font-family: 'Pacifico', cursive;
    }

    .skills-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .imgWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3rem;
        margin-left: -40px;
    }
    .imgWrapper img{
        width: 4.5rem;
        overflow: hidden;
    }
    .imgWrapper .js{
        width: 5rem;
        overflow: hidden;
    }


    .projectsItems{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        gap: 15px;
        transition: all .4s;
    }

    .projectsItems img{
        width: 30%;
        border-radius: 10px;
        height: auto;
    }

    .footer-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--azul);
    }

    .social-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        height: auto;
        margin-right: 30px;
    }

    
    .contactTitle{
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem;
        text-align: center;
    }

    /*Make a good form */
    .form{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        border: 2px solid var(--violeta);
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .form label{
        display: block;
        font-size: 1.2rem;
        text-align: left;
    }

    .bttForm{
        color: black;
        width: 50%;
        margin: 20px;
        padding: 10px;
        background-color: transparent;
        border-style: none;
        border-radius: 20px;
        cursor: pointer;
        border: 1px solid var(--violeta);
        transition: 1s;
    }

    .bttForm:hover{
        background-color: lightskyblue;
    }

    .inputForm{
        width: 80%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid var(--skyblue);
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
 
    body{
        overflow-x: hidden;
    }
}